services:
  backend:
    build:
      context: ./backend

    command: python main.py
    ports:
      - "8000:8000"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    network_mode: bridge


  frontend:
    build:
      context: ./frontend

    ports:
      - "8080:80"
